<launch>
  <arg name="robot_namespace" default="/gimbalrotor"/>

  <!-- Branch mocap topic. This is reference information only. -->
  <arg name="branch_pose_topic" default="/mocap/ground_pose"/>

  <!-- Legacy only. Default false because branch mocap origin is not the branch center axis. -->
  <arg name="use_branch_pose_as_perching_point" default="false"/>

  <arg name="perching_point_offset_x" default="0.0"/>
  <arg name="perching_point_offset_y" default="0.0"/>
  <arg name="perching_point_offset_z" default="0.0"/>

  <arg name="command_rate" default="20.0"/>

  <arg name="default_pitch_deg" default="0.0"/>
  <arg name="pitch_limit_deg" default="30.0"/>

  <node pkg="gimbalrotor"
        type="perching_cutting_mission.py"
        name="perching_cutting_mission"
        output="screen">
    <param name="robot_namespace" value="$(arg robot_namespace)"/>
    <param name="branch_pose_topic" value="$(arg branch_pose_topic)"/>

    <param name="use_branch_pose_as_perching_point" value="$(arg use_branch_pose_as_perching_point)"/>
    <param name="perching_point_offset_x" value="$(arg perching_point_offset_x)"/>
    <param name="perching_point_offset_y" value="$(arg perching_point_offset_y)"/>
    <param name="perching_point_offset_z" value="$(arg perching_point_offset_z)"/>

    <param name="command_rate" value="$(arg command_rate)"/>
    <param name="default_pitch_deg" value="$(arg default_pitch_deg)"/>
    <param name="pitch_limit_deg" value="$(arg pitch_limit_deg)"/>
  </node>
</launch>